body{
    display: flex;

}
/*-----------------------------vertical navigation bar---------------------------*/
nav{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-width: 250px;
    height: 100vh;
    Flex-grow: 1;
}
.navbar-company-name{
    display: flex;
    gap: 15px;
}
nav ul{
    list-style: none;
}
.navigation-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.navigation-links a{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
}
.sign-up-buttons{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.sign-up-buttons button{
    display: flex;
}
/*-------------------------------Right side content------------------------------*/
.right-side{
    display: flex;
    flex-direction: column;
    flex-grow: 8;
}
header{
    display: flex;
    border: 2px dashed orange;
}
article{
    display: flex;
    border: 2px dashed red;
}
footer{
    display: flex;
    border: 2px dashed blue;
}